{% extends 'base.html' %}

{% block title %}Car Model Details{% endblock %}

{% block content %}
  <h2>Car Model Details</h2>
  <ul>
    <li><strong>Name:</strong> {{ model.Name }}</li>
    <li><strong>IDBS:</strong> {{ model.idbs }}</li>
    <li><strong>Car Brand:</strong> {{ model.carbrand.Name }}</li>
    <li><strong>Creation Date:</strong> {{ model.creationdate }}</li>
    <li><strong>Creation Author:</strong> {{ model.creationauthor_id }}</li>
    <li><strong>Change Date:</strong> {{ model.changedate }}</li>
    <li><strong>Change Author:</strong> {{ model.changeauthor_id }}</li>
    <li><strong>MCF Code:</strong> {{ model.mcfcode }}</li>
  </ul>

  <a href="{% url 'edit_car_model' model.id %}" class="btn btn-primary">Edit Model</a>
{% endblock %}